@mixin font($size: 18px, $weight: normal, $line-height: 34px, $letter-spacing: 1, $color: $title-active-grayscale) {
    font-family: $primary-font;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
}
