@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$primary-font: 'Poppins', sans-serif;

// Color pallete
$background-color-grey: #e5e5e5;
$background-color-white: #fff;
$primary-color: #5f2eea;
$primary-dark-color: #2a00a2;
$error-color: #ed2e7e;
$success-color: #00ba88;
$warning-color: #f4b740;
$font-color: #14142b;

//Gradient pallete
$primary-gradient: linear-gradient(114.44deg, #7433ff 0%, #ffa3fd 100%);

//Grayscale pallete
$title-active-grayscale: #14142b;
$body-grayscale: #6e7191;
$label--grayscale: #6e7191;
$placeholder-grayscale: #a0a3bd;
$line-grayscale: #d6d8e7;
$input-background-grayscale: #eff0f7;
$background-grayscale: #f7f7fc;
$off-white-grayscale: #fcfcfc;

$border-radius: 16px;

//Media queries resolutions
$breakpoint-laptop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 420px;
