@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$primary-font: 'Poppins', sans-serif;

// Color pallete
$background-color-white: #fff;
$background-color-pink: #d9afd9;
$primary-color: #5f2eea;
$primary-dark-color: #2a00a2;
$error-color: #ed2e7e;
$success-color: #00ba88;
$warning-color: #f4b740;

//Gradient pallete
$primary-gradient: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);

//Grayscale pallete
$title-active-grayscale: #14142b;
$line-grayscale: #d6d8e7;
$background-grayscale: #f7f7fc;
$border-grayscale: #ded3ff;

$border-radius: 4rem;

//Media queries resolutions
$breakpoint-laptop: 1440px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 420px;

//Shadows
$box-shadow: drop-shadow(0px 8px 16px rgba(17, 17, 17, 0.04));
