@import '../../../scss/variables.scss';

button.buttonComponent {
    height: 64px;
    width: 200px;
    border-radius: $border-radius;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    &:focus {
        opacity: 0.8;
        border: 8px solid $border-grayscale;
    }

    &.medium {
        height: 56px;
    }

    &.small {
        height: 40px;
        width: 120px;
        font-size: 14px;
    }

    &.primary {
        background-color: $primary-color;
        color: $background-grayscale;

        &:hover {
            background-color: $primary-dark-color;
        }
    }

    &.subtle {
        color: $primary-color;
        background-color: transparent;
        border: 2px solid $line-grayscale;

        &:hover {
            color: $primary-dark-color;
        }
    }
}
