@import '../variables.scss';
@import '../mixins.scss';
@import '../partials.scss';

h1.heading {
    width: 343px;
    height: 90px;
    @extend %heading;
}

p.subheading {
    width: 284px;
    height: 62px;
    @extend %subheading;
}

div.imageContainer {
    flex: 1;
}
div.textContainer {
    flex: 1;
}

@media only screen and (max-width: $breakpoint-phone) {
    h1.heading {
        max-width: 100%;
        text-align: center;
        font-size: 28px;
    }

    p.subheading {
        text-align: center;
    }

    button.startButton {
        min-width: 100%;
    }
}
