@import '../variables.scss';
@import '../mixins.scss';
@import '../partials.scss';

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    justify-content: space-between;

    div.headingContainer {
        flex: 0.2;
        max-height: 100px;

        h1.heading {
            text-align: center;
            flex: 0.2;
            @extend %heading;
        }
    }

    div.questionsContainer {
        flex: 0.6;
        max-height: 500px;
        overflow: scroll;

        p.question {
            @include font(18px, normal, 34px, 0.75px, $title-active-grayscale);
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: left;
        }
    }

    div.buttonContainer {
        flex: 0.2;
        max-height: 100px;
    }
}
