div.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    h1.heading {
        text-align: center;
        flex: 0.2;
        color: $title-active-grayscale;
    }

    div.button-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;

        button.true {
            background-color: $success-color;
        }

        button.false {
            background-color: $error-color;
        }
    }

    div.question-container {
        width: 292px;
        height: 100px;
        text-align: center;
        flex: 0.6;
    }

    p.questions-counter {
        flex: 0.1;
        text-align: center;
    }
}
