@import '../variables.scss';
@import '../mixins.scss';
@import '../partials.scss';

div.gameContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    h1.heading {
        width: 300px;
        text-align: center;
        flex: 0.2;
        @extend %heading;
    }

    div.buttonGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;

        button.true {
            background-color: $success-color;
        }

        button.false {
            background-color: $error-color;
        }
    }

    div.questionContainer {
        width: 300px;
        height: 100px;
        text-align: center;
        flex: 0.6;
        @extend %subheading;
    }

    p.questionsCounter {
        flex: 0.1;
        text-align: center;
        @include font(14px, normal, 24px, 0.75px, $greyscale-label);
    }
}
